<h1>Cocktail Show Page</h1>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.ingredient.name %></p>
<p><%= dose.description %></p>
<%= link_to 'Delete Dose', dose_path(dose), method: :delete, data: { confirm: "You sure, dude?" } %>
<% end %>

<div class="text-center">
  <button type="button" class="btn btn-outline-primary"> <%= link_to "ðŸ‘ˆ Back to Cocktails List", cocktails_path, class: 'btn-title' %></button>
</div>


<div class="text-center">
  <button type="button" class="btn btn-outline-primary"> <%= link_to "âœï¸ Add a Dose", new_cocktail_dose_path(@cocktail), class: 'btn-title' %></button>
</div>
